<?xml version="1.0" encoding="UTF-8"?>
<configuration>

    <!-- Completely suppress all Apache HTTP logs -->
    <logger name="org.apache.hc.client5.http.wire" level="OFF" additivity="false"/>
    <logger name="org.apache.hc.core5.http.impl.io" level="OFF" additivity="false"/>
    <logger name="org.apache.hc.client5.http.impl.classic" level="OFF" additivity="false"/>
    <logger name="org.apache.hc.core5.http" level="OFF" additivity="false"/>
    <logger name="org.apache.hc.core5.reactor" level="OFF" additivity="false"/>
    <logger name="org.apache.hc.core5.ssl" level="OFF" additivity="false"/>
    <logger name="org.apache.hc.core5.util" level="OFF" additivity="false"/>

    <!-- Console Appender -->
    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <encoder>
            <pattern>%d{yyyy-MM-dd HH:mm:ss} - %msg%n</pattern>
        </encoder>
    </appender>

    <!-- Root Logger -->
    <root level="INFO">
        <appender-ref ref="CONSOLE"/>
    </root>
</configuration>
